





#error_pass,
#email_error,
#User_error {
    width: 300px;
    font-size: 14px;
    color: #ee3301;
    background: rgba(255, 255, 255, 0.6);
}










.container4 {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#profile-image {
    margin: auto;
    max-width: 20%;
}

.bttn{
    font-size: 18px;
    letter-spacing: 2px;

    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2.5em;
    border: 2px solid hsl(27, 46%, 58%);
    border-radius: 2px;
    position: relative;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1); */
    color:#000;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}


.bttn:before {
transition: 0.5s all ease;
position: absolute;
top: 0;
left: 50%;
right: 50%;
bottom: 0;
opacity: 0;
content: '';
background-color: hsl(27, 46%, 58%);;
z-index: -1;
}


.bttn:hover, button:focus {
color: #000;
}

.bttn:hover:before, button:focus:before {
transition: 0.5s all ease;
left: 0;
right: 0;
opacity: 1;
}

.bttn:active {
transform: scale(0.9);
}


form {
    display: none;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
