<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <!--
        favicon
    -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="shortcut icon" href="../Home/favicon.svg" type="">

<!--====================================== CSS =======================================================-->
    <link rel="stylesheet" href="../assets/css/style.css" />

    <link rel="stylesheet" href="login.css">
    <title>Ecommerce Website</title>
  </head>
  <body>
<!--====================================== HEADER =====================================================-->
<header class="header">
    <!--nav par-->
         <!--logo-->
    <nav class="nav container1" style="color: black;">
      <a href="../index.html" class="nav__logo">
         <img src="../assets/images/1-removebg-preview (1).png" alt="" class="nav__logo-img">
      </a>
<!--list-->
<div class="nav__menu" id="nav-menu">
<ul class="nav__list">
    <li class="nav__item hideOnMobile"  >
        <a href="../index.html" class="nav__link ">Home</a>
    </li>

    <li class="nav__item hideOnMobile"  >
        <a href="../ShopPages/shop.html" class="nav__link  ">Shop</a>
    </li>

    <li class="nav__item hideOnMobile"  >
        <a href="../contact-us-page/index.html" class="nav__link">contact Us</a>
    </li>

    <li class="nav__item hideOnMobile"  >
        <a href="../blog.html" class="nav__link">stories</a>
    </li>

    <li class="nav__item hideOnMobile"  >
        <a href="login.html" class="nav__link active-link">Login</a>
    </li>

    <li class="nav__item  menu-Button" onclick="showSideBar()">
        <a href="#"><ion-icon name="menu-outline" style="font-size: 50px;"></ion-icon></a>
   </li>
  
</ul>
</nav>
</header>

<!--------------------------------burger menu side bar----------------------------------------------->
<header>

<!--list-->
<div class="nav__menu " id="nav-menu" >
  <ul class="nav__list sidebar">
      <li onclick="hideSidebar()"><a href="#"><ion-icon name="close-circle-outline"></ion-icon></a></li>
      <li class="nav__item">
          <a href="index.html" class="nav__link active-link">Home</a>
      </li>

      <li class="nav__item">
          <a href="../Home/ShopPages/shop.html" class="nav__link">Shop</a>
      </li>

      
      <li class="nav__item">
          <a href="../Home/contact-us-page/index.html" class="nav__link">Contact Us</a>
      </li>

      <li class="nav__item">
          <a href="profilePage/profile.html" class="nav__link">My Account</a>
      </li>

      <li class="nav__item">
          <a href="blog.html" class="nav__link">Stories</a>
      </li>

      <li class="nav__item">
          <a href="../Home/Login/login.html" class="nav__link">Login</a>
      </li>
  </ul>
</nav>
</header>   


<!--------------------------------- Sign Up form ---------------------------------------------------------->
<div class="container">

    <section class="card-container">

        <h1>SignUp </h1>
        
      
    <form id="myForm">
        <!-- User Name: -->
        <div autocomplete="off">
            <div class="form" id="User_field">
                <input type="text" placeholder="Username" id="username" style="background-color: rgba(255, 255, 255, 0.8);">
                <div class="Errors"><span id="User_error"></span></div>
            </div>
        </div>

        <!-- Email: -->
        <div autocomplete="off">
            <div class="form" id="email_field">
                <input type="email" placeholder="Email Address" id="email" oninput="" style="background-color: rgba(255, 255, 255, 0.8);">
                <div class="Errors"><span id="email_error"></span></div>
            </div>
        </div>

        <!-- Password: -->
        <div>
            <div class="form">
                <div class="create_pass">
                    <input type="password" placeholder="Password" class="create_password" id="password" style="background-color: rgba(255, 255, 255, 0.8);">
                    <div class="Errors"><small id="error_pass"></small></div>
                </div>
            </div>
        </div>


        <!-- Submit Button -->
        <div class="bottom">
          <button type="button" onclick="registerUser()"  id="Login"> Sign Up </button> <a href="login.html"></a> 
            <!-- Add a link or any other content here if needed -->
        </div>
    </form>

    </section>
</div>
<script src="../assets/js/script.js"></script>
<script src="login.js"></script>
</body>
</html>

