<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <!--
        favicon
    -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="shortcut icon" href="../Home/favicon.svg" type="">

    <!--=============== FLATICON ===============-->
   <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-thin-straight/css/uicons-thin-straight.css'>
 
    <!--=============== SWIPER CSS ===============-->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="assets/css/style.css" />

    <title>Ecommerce Website</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header">
        <!--nav par-->
             <!--logo-->
        <nav class="nav container1">
          <a href="index.html" class="nav__logo">
             <img src="assets/images/1.PNG" alt="" class="nav__logo-img">
          </a>
  <!--list-->
  <div class="nav__menu" id="nav-menu">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="index.html" class="nav__link ">Home</a>
        </li>

        <li class="nav__item">
            <a href="shop.html" class="nav__link active-link">Shop</a>
        </li>

        <li class="nav__item">
            <a href="accounts.html" class="nav__link">My Account</a>
        </li>

        <li class="nav__item">
            <a href="compare.html" class="nav__link">compare</a>
        </li>

        <li class="nav__item">
            <a href="login-register.html" class="nav__link">Login</a>
        </li>
    </ul>

    <!--search-->
<div class="header__search">
    <input 
        type="text"
        placeholder="search items"
        class="form__input"
    />

    <button class="search__btn">
        <img src="assets/images/img/search.png" alt="" />
    </button>
</div>


 </div>

   <!--card and wishlist and person-->
        <!--WishList-->
   <div class="header__user-actions">
        <a href="wishlist.html" class="header__action-btn">
             <img src="assets/images/img/icon-heart.svg" alt="">

            <span class="count" >3</span>
        </a>


        <!--card -->
             <a href="cart.html" class="header__action-btn">
               <img src="assets/images/img/icon-cart.svg" alt="">
                <span class="count">0</span>
            </a>
</div>
</nav>
</header>    


    <!--=============== MAIN ===============-->
    <main class="main">
      <!--=============== BREADCRUMB ===============-->
      <section class="breadcrumb">
        <ul class="breadcrumb__list flex container">
            <li><a href="index.html">Home</a></li>
            <li><span class="breadcrumb__link">></span></li>
            <li><span class="breadcrumb__link">Shop</span></li>

        </ul>
      </section>

      <!--=============== PRODUCTS ===============-->
         <!--
                #Products
            -->
            <section class="section product--lg container" id="product" aria-label="product">

                <div class="container">
                    <ul class="grid-list product-list" data-filter="all">
                        <!-- Products will be dynamically added here using JavaScript -->
                    </ul>
                </div>

<!-- //////////////////////////////////////////////////////////////////////////////////////////// -->

            <ul class="pagination">
                <li><a href="" class="pagination__link ">01</a></li>
                <li><a href="" class="pagination__link">02</a></li>
                <li><a href="" class="pagination__link">03</a></li>
                <li><a href="" class="pagination__link">...</a></li>
                <li><a href="" class="pagination__link">16</a></li>
                <li><a href="" class="pagination__link">
                    <i class="fi-rs-angle-double-small-right"></i>
                </a></li>

            </ul>
            </section>
      <!--=============== NEWSLETTER ===============-->
      <section class="newsletter"></section>
    </main>

    <!--=============== FOOTER ===============-->
   <!--         
        #Footer
    -->
     <footer class="footer">
        <div class="container">
            <div class="footer-top section">

                <div class="footer-brand">
                    <a href="" class="logo">HandMade</a>

                    <ul>
                        <li class="footer-list-item">
                            <ion-icon name="location-sharp" aria-hidden="true"></ion-icon>

                            <address class="address">
                                HandMade,Amman ,Jordan 2023
                            </address>
                        </li>

                        <li class="footer-list-item">
                            <ion-icon name="call-sharp" aria-hidden="true"></ion-icon>

                            <a href="tel:+1234567890" class="footer-link">tel:+1234567890</a>
                        </li>

                        <li>
                           <ul class="social-list">

                                <li>
                                   <a href="#" class="social-link">
                                    <ion-icon name="logo-facebook" ></ion-icon>
                                   </a> 
                                </li>

                                <li>
                                    <a href="#" class="social-link">
                                     <ion-icon name="logo-linkedin" ></ion-icon>
                                    </a> 
                                 </li>

                                 <li>
                                    <a href="#" class="social-link">
                                     <ion-icon name="logo-instagram" ></ion-icon>
                                    </a> 
                                 </li>
                           </ul> 
                        </li>
                    </ul>
                </div>

                <ul class="footer-list">
                    <li>
                    <p class="footer-list-title">Help and Information</p>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Help and Contact Us</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link"> Returns and Refunds</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link"> Online store</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Terms and Conditions</a>
                    </li>
                </ul>



                <ul class="footer-list">
                    <li>
                    <p class="footer-list-title">About Us</p>
                    </li>

                    <li>
                        <a href="#" class="footer-link">About Us</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">What We Do </a>
                    </li>

                    <li>
                        <a href="#" class="footer-link"> FAQ Pages</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Contact Us</a>
                    </li>
                </ul>

                <div class="footer-list">
                    <p class="footer-list-title">Newsletter</p>
                    
                    <form action="" class="footer-form">
                        <input type="email" name="email_address" placeholder="Your email address" required class="email-field">

                        <button type="submit" class="footer-form-btn">
                            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </button>
                    </form>

                    <div class="wrapper">

                        <a href="#" class="footer-link">Term and Condition</a>
                        <a href="#" class="footer-link">Policy</a>
                        <a href="#" class="footer-link">Map</a>
                    </div>
                     
                </div>

                <div class="footer-bottom">

                    <p class="copyright">
                        &copy; 2023 All Rights Reserved by <a href="" class="copyright-link">codewithsadee</a> 
                    </p>

                </div>

            </div>
        </div>
     </footer>
    <!--=============== SWIPER JS ===============-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


    <!--=============== MAIN JS ===============-->
    <script src="assets/js/script.js"></script>
    <script src="./assets/js/category.js"></script>
  </body>
</html>
