<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--
        primary meta tag
    -->

    <title>Hand made Store</title>
    <meta name="title" content="Hand made Store">
    <meta name="description" content="This is an ecommerce html">

    <script src="assets/js/addtocart.js" async></script>
    <script src="assets/js/addtowishlist.js" async></script>
    <!--
        favicon
    -->
    <link rel="shortcut icon" href="" type="">

    <!--
        custom css Link
    -->
    <link rel="stylesheet" href="./assets/css/style.css">

    <!--
        google font Link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mr+De+Haviland&family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet">

    <!--
        preload images
    -->
    <link rel="preload" as="image" href="./assets/images/hero-product-1.jpg">
    <link rel="preload" as="image" href="./assets/images/hero-product-2.jpg">
    <link rel="preload" as="image" href="./assets/images/hero-product-3.jpg">
    <link rel="preload" as="image" href="./assets/images/hero-product-4.jpg">
    <link rel="preload" as="image" href="./assets/images/hero-product-5.jpg">

</head>
<body id="top">

    <header class="header">
        <!--header top-->
        <div class="header__top">
            <div class="header__container container1">
                <span> </span>

                <span>Amman-Jordan</span>
                <p class="header__alert-news">
                     support palestinian Woman
                </p>

                <a href="../login - sign up/login.html" class="header__top-action">Login / signUp</a>
            </div>
        </div>
        <!--nav par-->
             <!--logo-->
        <nav class="nav container1">
          <a href="index.html" class="nav__logo">
             <img src="assets/images/1.PNG" alt="" class="nav__logo-img">
          </a>
  <!--list-->
  <div class="nav__menu" id="nav-menu">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="index.html" class="nav__link active-link">Home</a>
        </li>

        <li class="nav__item">
            <a href="shop.html" class="nav__link">Shop</a>
        </li>

        <li class="nav__item">
            <a href="accounts.html" class="nav__link">My Account</a>
        </li>

        <li class="nav__item">
            <a href="blog.html" class="nav__link">Stories</a>
        </li>

        <li class="nav__item">
            <a href="../login - sign up/login.html" class="nav__link">Login</a>
        </li>
    </ul>

    <!--search-->
<div class="header__search">
    <input 
        type="text"
        placeholder="search items"
        class="form__input"
    />

    <button class="search__btn">
        <img src="assets/images/img/search.png" alt="" />
    </button>
</div>


 </div>

   <!--card and wishlist and person-->
        <!--WishList-->
   <div class="header__user-actions">
        <a href="wishlist.html" class="header__action-btn">
             <img src="assets/images/img/icon-heart.svg" alt="">

            <span class="count" >0</span>
        </a>


        <!--card -->
             <a href="cart.html" class="header__action-btn add-to-cart-btn">
               <img src="assets/images/img/icon-cart.svg" alt="">
                <span class="count">0</span>
            </a>
</div>
</nav>
</header>    

    <main>
        <article>
            <!--
                hero
            -->

            <section class=" hero" id="home" aria-label="home">
                <div class="container">
                    <ul class="hero-list">
                        <li data-category-id="1">
                            <div class="hero-card" >
                                <figure class="card-banner img-holder" style="--width:285 ; --height:396 ;">
                                    <img src="./assets/images/coverr.jpg"  width="285" height="396" alt="Palestine Arts" class="img-cover">
                                </figure>

                                <div class="card-content">
                                    <h3>
                                        <a href="Emb.html" class="card-title">Embroideries</a>
                                    </h3>

                                    <p class="card-text"></p>

                                </div>
                            </div>
                        </li>

                        <li class="colspan-2" data-category-id="1">
                            <div class="hero-card"> 
                                <figure class="card-banner img-holder" style="--width:568 ; --height:389 ;">
                                   <img src="./assets/images/co2.jpg"  width="568" height="389" alt="Palestine Arts" class="img-cover">
                                </figure>  

                                <div class="card-content">
                                    <h3>
                                        <a href="art.html" class="card-title">Arts</a>
                                    </h3>

                                    <p class="card-text"></p>

                                </div>
                            </div>
                        </li>

                        <li data-category-id="1">
                            <div class="hero-card">
                                <figure class="card-banner img-holder" style="--width:285 ; --height:396 ;">
                                    <img src="./assets/images/IMG_9898-min.webp"  width="285" height="396" alt="Palestine Arts" class="img-cover">
                                </figure>

                                <div class="card-content">
                                    <h3>
                                        <a href="accessories.html" class="card-title">Accessories</a>
                                    </h3>

                                    <p class="card-text"></p>

                                </div>
                            </div>
                        </li>

                        <li class="colspan-2" data-category-id="1" >
                            <div class="hero-card">
                                <figure class="card-banner img-holder" style="--width:580 ; --height:213 ;">
                                    <img src="./assets/images/cover5.PNG"  width="580" height="213" alt="Palestine Arts" class="img-cover">
                                </figure>

                                <div class="card-content">
                                    <h3>
                                        <a href="plates.html" class="card-title">Plates</a>
                                    </h3>

                                    <p class="card-text"></p>

                                </div>
                            </div>
                        </li>

                        <li class="colspan-2" data-category-id="1">
                            <div class="hero-card">
                                <figure class="card-banner img-holder" style="--width:580 ; --height:213 ;">
                                    <img src="./assets/images/pct2.avif"  width="580" height="213" alt="Palestine Arts" class="img-cover">
                                </figure>

                                <div class="card-content">
                                    <h3>
                                        <a href="#" class="card-title">warmth</a>
                                    </h3>

                                    <p class="card-text"></p>

                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </section> 


            <!--
                #About  //
            -->
            <section class="section about" id="about" aria-label="about">
                <div class="container">
                    <h2 class="section-title">peace for HandMade</h2>
                    <p class="section-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores quia laudantium iure porro voluptates corporis distinctio est omnis soluta dicta. Fuga, sunt? Impedit ipsum vitae voluptates neque harum hic similique?</p>
                        <figure class="card-banner img-holder" style="--width:1170 ; --height:450 ;">
                            <iframe autoplay width="1170" height="450" loading="lazy"  alt="handmade promo"  loop class="img-cover" src="https://www.youtube.com/embed/F48qVKo9f0E?si=WI5vhzk0-8nbw2Al" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                          <button class="play-btn" aria-label="play video">
                            <ion-icon name="play-circle-outline" aria-hidden="true"></ion-icon>
                        </button>
                    <div class="about-card">

                    </div>
                </div>
            </section>


            <!--
                #Products
            -->
            <section class="section product" id="product" aria-label="product">
                <div class="container">

                    <div class="title-wrapper">
                        <h2 class="h2 section-title">Popular Products</h2>

                        <ul class="filter-btn-list">
                            <li class="filter-btn-item">
                                <button class="filter-btn active" data-filter-btn="all">Shop now </button>
                            </li>

                    </div>

                    <ul class="grid-list product-list" data-filter="all">
                         
                            <div class="product-card">
                                <a href="#" class="card-banner img-holder has-before" style="--width:300 ; --height: 300;">
                                    <img src="./assets/images/stickers/1055820787_1024x1024@2x.webp" width="300" height="300" loading="lazy" alt="any thing" class="img-cover">

                                    <ul class="card-action-list">

                                        <li>
                                            <button class="card-action-btn add-to-cart" arial-label="add to card" title="add to card">
                                                <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>

                                        <li>
                                            <button class="card-action-btn add-to-cart" arial-label="add to card" title="add to card">
                                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>

                                        <li>
                                            <button class="card-action-btn add-to-wish-list" arial-label="add to wishlist" title="add to wishlist">
                                                <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>
                                    </ul>

                                    
                                </a>

                                <div class="card-content">
                                    <h3 class="h3">
                                        <a href="" class="card-title">jursalm sticker </a>
                                    </h3>

                                    <div class="card-price">
                                        <data class="price" value="1">$1.00
                                        </data>
                                    </div>
                                </div>

                            </div>
                         

                      
                            <div class="product-card">
                                <a href="#" class="card-banner img-holder has-before" style="--width:300 ; --height: 300;">
                                    <img src="./assets/images/stickers/934694403_1024x1024@2x.webp"  width="300" height="300" loading="lazy" alt="any thing" class="img-cover">

                                    <ul class="card-action-list">

                                        <li>
                                            <button class="card-action-btn add-to-cart" arial-label="add to card" title="add to card">
                                                <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>

                                        <li>
                                            <button class="card-action-btn add-to-cart" arial-label="add to card" title="add to card">
                                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>

                                        <li>
                                            <button class="card-action-btn add-to-wish-list" arial-label="add to wishlist" title="add to wishlist">
                                                <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>
                                    </ul>

                                     
                                </a>

                                <div class="card-content">
                                    <h3 class="h3">
                                        <a href="" class="card-title">color sticker</a>
                                    </h3>

                                    <div class="card-price">
                                         <data class="price" value="1.5">$1.50
                                        </data>
                                    </div>
                                </div>

                            </div>
                        

                     
                            <div class="product-card">
                                <a href="#" class="card-banner img-holder has-before" style="--width:300 ; --height: 300;">
                                    <img src="./assets/images/stickers/1131919956_1024x1024@2x.webp" width="300" height="300" loading="lazy" alt="any thing" class="img-cover">

                                    <ul class="card-action-list">

                                        <li>
                                            <button class="card-action-btn add-to-cart" arial-label="add to card" title="add to card">
                                                <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>

                                        <li>
                                            <button class="card-action-btn add-to-cart" arial-label="add to card" title="add to card">
                                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>

                                        <li>
                                            <button class="card-action-btn add-to-wish-list" arial-label="add to wishlist" title="add to wishlist">
                                                <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>
                                    </ul>

                                 </a>

                                <div class="card-content">
                                    <h3 class="h3">
                                        <a href="" class="card-title">Thob sticker</a>
                                    </h3>

                                    <div class="card-price">
                                         <data class="price" value="1.5">$1.50
                                        </data>
                                    </div>
                                </div>

                            </div>
      

                        
                            <div class="product-card">
                                <a href="#" class="card-banner img-holder has-before" style="--width:300 ; --height: 300;">
                                    <img src="./assets/images/stickers/975870184_1024x1024@2x.webp" width="300" height="300" loading="lazy" alt="any thing" class="img-cover">

                                    <ul class="card-action-list">

                                        <li>
                                            <button class="card-action-btn" arial-label="add to card" title="add to card">
                                                <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>

                                        <li>
                                            <button class="card-action-btn" arial-label="add to card" title="add to card">
                                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>

                                        <li>
                                            <button class="card-action-btn add-to-wish-list" arial-label="add to wishlist" title="add to wishlist">
                                                <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>
                                    </ul>

                                 </a>

                                <div class="card-content">
                                    <h3 class="h3">
                                        <a href="" class="card-title">Awda sticker</a>
                                    </h3>

                                    <div class="card-price">
                                         <data class="price" value="2">$2.00
                                        </data>
                                    </div>
                                </div>

                            </div>
         

                         
                            <div class="product-card">
                                <a href="#" class="card-banner img-holder has-before" style="--width:300 ; --height: 300;">
                                    <img src="./assets/images/olives/Capture.PNG"  width="300" height="300" loading="lazy" alt="any thing" class="img-cover">

                                    <ul class="card-action-list">

                                        <li>
                                            <button class="card-action-btn add-to-cart" arial-label="add to card" title="add to card">
                                                <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>

                                        <li>
                                            <button class="card-action-btn add-to-cart" arial-label="add to card" title="add to card">
                                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>

                                        <li>
                                            <button class="card-action-btn add-to-wish-list" arial-label="add to wishlist" title="add to wishlist">
                                                <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>
                                    </ul>

                                 </a>

                                <div class="card-content">
                                    <h3 class="h3">
                                        <a href="" class="card-title">Nabulsi soap</a>
                                    </h3>

                                    <div class="card-price">
                                         <data class="price" value="7">$7.00
                                        </data>
                                    </div>
                                </div>

                            </div>
                   

          
                            <div class="product-card">
                                <a href="#" class="card-banner img-holder has-before" style="--width:300 ; --height: 300;">
                                    <img src="./assets/images/olives/Capture10.PNG"  width="300" height="300" loading="lazy" alt="any thing" class="img-cover">

                                    <ul class="card-action-list">

                                        <li>
                                            <button class="card-action-btn add-to-cart" arial-label="add to card" title="add to card">
                                                <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>

                                        <li>
                                            <button class="card-action-btn add-to-cart" arial-label="add to card" title="add to card">
                                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>

                                        <li>
                                            <button class="card-action-btn add-to-wish-list" arial-label="add to wishlist" title="add to wishlist">
                                                <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>
                                    </ul>

                                 </a>

                                <div class="card-content">
                                    <h3 class="h3">
                                        <a href="" class="card-title">A bowl for olive oil</a>
                                    </h3>

                                    <div class="card-price">
                                         <data class="price" value="6">$6.00
                                        </data>
                                    </div>
                                </div>

                            </div>
                 

                        
                            <div class="product-card">
                                <a href="#" class="card-banner img-holder has-before" style="--width:300 ; --height: 300;">
                                    <img src="./assets/images/olives/Capture11.PNG"  width="300" height="300" loading="lazy" alt="any thing" class="img-cover">

                                    <ul class="card-action-list">

                                        <li>
                                            <button class="card-action-btn add-to-cart" arial-label="add to card" title="add to card">
                                                <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>

                                        <li>
                                            <button class="card-action-btn add-to-cart" arial-label="add to card" title="add to card">
                                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>

                                        <li>
                                            <button class="card-action-btn add-to-wish-list" arial-label="add to wishlist" title="add to wishlist">
                                                <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>
                                    </ul>

                                 </a>

                                <div class="card-content">
                                    <h3 class="h3">
                                        <a href="" class="card-title">Dishes for oil and thyme</a>
                                    </h3>

                                    <div class="card-price">
                                         <data class="price" value="10">$10.00
                                        </data>
                                    </div>
                                </div>

                            </div>
                     

                      
                            <div class="product-card">
                                <a href="#" class="card-banner img-holder has-before" style="--width:300 ; --height: 300;">
                                    <img src="./assets/images/olives/Capture2.PNG"  width="300" height="300" loading="lazy" alt="any thing" class="img-cover">

                                    <ul class="card-action-list">

                                        <li>
                                            <button class="card-action-btn add-to-cart" arial-label="add to card" title="add to card">
                                                <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>

                                        <li>
                                            <button class="card-action-btn add-to-cart" arial-label="add to card" title="add to card">
                                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>

                                        <li>
                                            <button class="card-action-btn add-to-wish-list" arial-label="add to wishlist" title="add to wishlist">
                                                <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </li>
                                    </ul>

                                 </a>

                                <div class="card-content">
                                    <h3 class="h3">
                                        <a href="" class="card-title">Nabulsi soap</a>
                                    </h3>

                                    <div class="card-price">
                                         <data class="price" value="8">$8.00
                                        </data>
                                    </div>
                                </div>

                            </div>
               

                       

                    </ul>
                </div>
            </section>


            <!--
                #Blog
            -->
            <section class="section blog" id="blog" aria-label="blog">
                <div class="container">
                    <div class="title-wrapper">
                        <h2 class="h2 section-title">Success Stories </h2>

                        <a href="blog.html" class="btn-link">
                            <span class="span">View All</span>

                            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </a>
                    </div>

                    <ul class="grid-list">
                        <li>
                            <div class="blog-card">
                                <div class="card-banner img-holder" style="--width:374 ; --height:243 ;">
                                    <img src="./assets/images/طلة3.PNG" width="374" height="243" loading="lazy" alt="Unique products that will impress your home in 2024" class="img-cover">

                                    <a href="https://www.instagram.com/p/Cp5h6jDjEuz/" class="card-btn">
                                        <span class="span">Show more</span>
                                        <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
                                    </a>
                                </div>

                                <div class="card-content">
                                    <h3 class="h3">
                                        <a href="https://www.instagram.com/p/Cp5h6jDjEuz/" class="card-title">A shop for making colorful traditional handmade utensils by Palestinian women </a>
                                    </h3>

                                    <ul class="card-meta-list">

                                        <li class="card-meta-item">
                                            <time class="card-meta-text" datetime="2023-11-27">November 27, 2023</time>

                                        </li>

                                        <li class="card-meta-item">
                                            <a href="#"   class="card-meta-text" >Tala</a>
                                        </li>

                                        <li class="card-meta-item">
                                           in <a href="#"   class="card-meta-text" >deco</a>
                                        </li>
                                    </ul>
                                </div>


                            </div>
                        </li>


                        <li>
                            <div class="blog-card">
                                <div class="card-banner img-holder" style="--width:374 ; --height:243 ;">
                                    <img src="./assets/images/رنا صالح.PNG" width="374" height="243" loading="lazy" alt="Unique products that will impress your home in 2024" class="img-cover">

                                    <a href="https://www.instagram.com/rs.threadiz/" class="card-btn">
                                        <span class="span">Show more</span>
                                        <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
                                    </a>
                                </div>

                                <div class="card-content">
                                    <h3 class="h3">
                                        <a href="#" class="card-title">A Palestinian mother who excelled at embroidery</a>
                                    </h3>

                                    <ul class="card-meta-list">

                                        <li class="card-meta-item">
                                            <time class="card-meta-text" datetime="2023-11-27">November 27, 2023</time>

                                        </li>

                                        <li class="card-meta-item">
                                            <a href="#"   class="card-meta-text" >Rana Salah</a>
                                        </li>

                                        <li class="card-meta-item">
                                           in <a href="#"   class="card-meta-text" >deco</a>
                                        </li>
                                    </ul>
                                </div>


                            </div>
                        </li>

                        <li>
                            <div class="blog-card">
                                <div class="card-banner img-holder" style="--width:374 ; --height:243 ;">
                                    <img src="./assets/images/بيت الأرض.PNG" width="374" height="243" loading="lazy" alt="Unique products that will impress your home in 2024" class="img-cover">

                                    <a href="https://www.instagram.com/beitalard/" class="card-btn">
                                        <span class="span">Read more</span>
                                        <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
                                    </a>
                                </div>

                                <div class="card-content">
                                    <h3 class="h3">
                                        <a href="https://www.instagram.com/beitalard/" class="card-title">Colors painted on the glass, these Palestinian pieces were made with love</a>
                                    </h3>

                                    <ul class="card-meta-list">

                                        <li class="card-meta-item">
                                            <time class="card-meta-text" datetime="2023-11-27">November 27, 2023</time>

                                        </li>

                                        <li class="card-meta-item">
                                            <a href="#"   class="card-meta-text" >bet alard</a>
                                        </li>

                                        <li class="card-meta-item">
                                           in <a href="#"   class="card-meta-text" >deco</a>
                                        </li>
                                    </ul>
                                </div>


                            </div>
                        </li>

                    </ul>
                </div>
    
            </section>

            <!--
                #Newslatter
            -->
            <section class="section newsletter" aria-label="newsletter">
                <div class="container">
                    <div class="newsletter-card">
                        <div class="card-content">
                                <h2 class="h2 section-title">Our Newsletter</h2>

                                <p class="section-text">
                                    subscribe our newletter and get discount 50% off
                                </p>
                        </div>

                        <form action="" class="card-form">
                            <input type="email" name="email-address" placeholder="Your email address"  required class="email-field">

                            <button type="submit" class="newsletter-btn" aria-label="subscribe">
                                <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                            </button>
                        </form>
                    </div>
                </div>
            </section>
        </article>
    </main>


    <!--
        #Footer
    -->
     <footer class="footer">
        <div class="container">
            <div class="footer-top section">

                <div class="footer-brand">
                    <a href="" class="logo">HandMade</a>

                    <ul>
                        <li class="footer-list-item">
                            <ion-icon name="location-sharp" aria-hidden="true"></ion-icon>

                            <address class="address">
                                HandMade,Amman ,Jordan 2023
                            </address>
                        </li>

                        <li class="footer-list-item">
                            <ion-icon name="call-sharp" aria-hidden="true"></ion-icon>

                            <a href="tel:+1234567890" class="footer-link">tel:+1234567890</a>
                        </li>

                        <li>
                           <ul class="social-list">

                                <li>
                                   <a href="#" class="social-link">
                                    <ion-icon name="logo-facebook" ></ion-icon>
                                   </a> 
                                </li>

                                <li>
                                    <a href="#" class="social-link">
                                     <ion-icon name="logo-linkedin" ></ion-icon>
                                    </a> 
                                 </li>

                                 <li>
                                    <a href="#" class="social-link">
                                     <ion-icon name="logo-instagram" ></ion-icon>
                                    </a> 
                                 </li>
                           </ul> 
                        </li>
                    </ul>
                </div>

                <ul class="footer-list">
                    <li>
                    <p class="footer-list-title">Help and Information</p>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Help and Contact Us</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link"> Returns and Refunds</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link"> Online store</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Terms and Conditions</a>
                    </li>
                </ul>



                <ul class="footer-list">
                    <li>
                    <p class="footer-list-title">About Us</p>
                    </li>

                    <li>
                        <a href="#" class="footer-link">About Us</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">What We Do </a>
                    </li>

                    <li>
                        <a href="#" class="footer-link"> FAQ Pages</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Contact Us</a>
                    </li>
                </ul>

                <div class="footer-list">
                    <p class="footer-list-title">Newsletter</p>
                    
                    <form action="" class="footer-form">
                        <input type="email" name="email_address" placeholder="Your email address" required class="email-field">

                        <button type="submit" class="footer-form-btn">
                            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </button>
                    </form>

                    <div class="wrapper">

                        <a href="#" class="footer-link">Term and Condition</a>
                        <a href="#" class="footer-link">Policy</a>
                        <a href="#" class="footer-link">Map</a>
                    </div>
                     
                </div>

                <div class="footer-bottom">

                    <p class="copyright">
                        &copy; 2023 All Rights Reserved by <a href="" class="copyright-link">codewithsadee</a> 
                    </p>

                </div>

            </div>
        </div>
     </footer>


    <!--
        #Back To Top
    -->

    <a href="#" class="back-top-btn" aria-label="back to top" data-back-top-btn>
        <ion-icon name="arrow-up" aria-hidden="true"></ion-icon>
    </a>



    <!--
        custom js link
    -->
    <script src="./assets/js/script.js" defer></script>
    
    <!--
        ionicon Link
    -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>